.tetris-table {
    display: grid;
    
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(20, 30px);

    margin: 30px auto;
    height: fit-content;
    width: fit-content;
 
    border: 1px #2c3546 solid;
    background-color: #19253b;
}

.box {
    border: 1px #2c3546 solid;
}